#progress-bar {
  align-items: center;
  display: flex;
  justify-content: center;

  li {
    margin: 0 4px;
  }

  button {
    appearance: none;
    border: 1px solid #000000;
    border-radius: 0;
    height: 10px;
    padding: 0;
    transform: rotate(43deg);
    width: 10px;
    cursor: default;

    &:not(:disabled) {
      background-color: #000000;
    }
  }
}
